@import '//fast.fonts.net/cssapi/e905f9a3-b65a-4f00-8632-840e9aea36bc.css';

@mixin arial {
	font-family: Arial, Helvetica, sans-serif;
}

.arial {
	@include arial;
}

@mixin didot {
	font-family: 'Linotype Didot W01'; 
	font-weight: 400;
	font-style: normal;
}

.didot {
	@include didot;
}

@mixin didot-italic {
	font-family: 'Linotype Didot W01'; 
	font-weight: 400;
	font-style: italic;
}

.didot-italic {
	@include didot-italic;
}

@mixin avenir {
	font-family: 'Avenir W01';
	font-weight: 400;
	font-style: normal;
}

.avenir {
	@include avenir;
}

@mixin avenir-heavy {
	font-family: 'Avenir W01';
	font-weight: 800;
	font-style: normal;
}

.avenir-heavy {
	@include avenir-heavy;
}

@mixin sackers {
	font-family: 'Sackers Gothic W01';
	font-weight: 500;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.sackers {
	@include sackers;
}

@mixin sackers-light {
	font-family: 'Sackers Gothic W01'; 
	font-weight: 200; 
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.sackers-light {
	@include sackers-light;
}