html {
	height: 100%;
	font-size: 62.5%;
	
	// @include device-width(10) {
	// 	font-size: 61%;
	// }

	// @include device-width(9) {
	// 	font-size: 60%;
	// }

	// @include device-width(8) {
	// 	font-size: 59%;
	// }

	// @include device-width(7) {
	// 	font-size: 58%;
	// }

	// @include device-width(6) {
	// 	font-size: 57%;
	// }

	// @include device-width(5) {
	// 	font-size: 56%;
	// }

	// @include device-width(4) {
	// 	font-size: 55%;
	// }
}

body {
	height: 100%;
	background: #FFF;
	color: #333333;
	@include font-size(13);
	line-height: 1.6;
	min-width: 250px;
	@include avenir;
	// @include device-width(8) {
	// 	@include font-size(13);
	// 	line-height: 1.3;
	// }

	// @include device-width(6) {
	// 	@include font-size(12);
	// 	line-height: 1.2;
	// }
}

#wrap {
	height: 100%;
}

#header {
	position: relative;
	z-index: 200;
	border-top: 2em solid #000;
	margin-bottom: 10px;

	@media print {
		display: none;
	}

	> .bottom {
		border-top: 1px solid #e1e1e1;
		border-bottom: 1px solid #e1e1e1;
		@include box-shadow(0px -10px 20px 0 rgba(#000, 0.05));
		
		> .inner {
			&:after {
				content: '';
				background: url(../images/misc/stripes.png);
				position: absolute;
				display: block;
				width: 100%;
				height: 11px;
			}
		}
	}

	$logo_ratio: (100 / 136);
		
	.logo-container {
		display: inline-block;
		position: absolute;
		left: 50%;
		top: 50%;
		margin: 0;
		z-index: 0;
		display: inline-block;
		font-size: 1em;
		line-height: 1;
		margin-top: -(100px / 2);
		margin-left: -(136px / 2);
		

		@include device-width(10) {
			margin-left: 0;
			left: 0;
		}

		@include device-width(8) {
			margin-left: 2em;
			margin-top: -($logo_ratio * 110px) / 2;
		}

		@include device-width(7) {
			position: relative;
			top: 0;
			margin-top: 0;
			padding: 2em 0;
		}


		@include device-width(5) {
			padding: 1em 0;
			margin-left: 1em;
		}

	}

	.logo {
		z-index: 100;
		@include transition(all 0.3s ease);
		background: url(../images/logos/leivankash_header.jpg) no-repeat;
		background-size: contain;
		width: 136px;
		height: 0;
		text-indent: -9999px;
		display: block;
		padding-top: $logo_ratio * 100%;


		@include device-width(8) {
			width: 110px;
		}

		@include device-width(5) {
			width: 90px;
		}
	}

	

	

	// .navigation-container {
	// 	background: #FFF;
	// 	position: relative;
	// 	margin: 2em 0 0 0;
	// 	border-top: 1px solid #000;
	// 	border-bottom: 1px solid #cecece;
	
		

	// 	.cart-btn {
	// 		display: none;
	// 		padding: 1em 2em;
	// 		text-transform: uppercase;
	// 		position: absolute;
	// 		top: 0;
	// 		right: 0;

	// 		@include device-width(6) {
	// 			display: inline-block;
	// 		}
	// 	}
	// }

	// .mobile-navigation-btn {
	// 	display: none;
	// 	padding: 1em 2em;
	// 	border-right: 1px solid #cecece;
	// 	@include device-width(7) {
	// 		display: block;
	// 	}
	// }


	.mini-cart {
		display: none;
		position: absolute;
		top: 100%;
		right: 0;

		&:before {
			content: '';
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid #000;
			position: absolute;
			top: -10px;
			right: 2em;
		}
	}

	.secondary-navigation {
		padding: pxtoem(50) 0;

		@include device-width(8) {
			padding-left: 2em;
			padding-right: 2em;
		}

		@include device-width(7) {
//			padding: 0;
			display: none;
		}
		.menu {
			padding: 0;
			margin: 0;
			list-style: none;

			li {
				float: left;
				margin-right: 6em;
				position: relative;

				@include device-width(10) {
					float: right;
					margin-right: 0;
					margin-left: 3em;
				}

				@include device-width(7) {
					float: none;
					margin: 0;
				}

				

				&.right {
					float: right;
					margin-right: 0;
					margin-left: 6em;

					@include device-width(10) {
						margin-left: 3em;
						// float: left;
						// margin-right: 4em;
						// margin-left: 0;
					}

					@include device-width(7) {
						float: none;
						margin: 0;
					}
				}

				&.bag { 
					a {
						&:before {
							@extend [class^="icon-"];
							@extend .icon-bag:before;
							margin-right: 0.5em;
						}
					}
				}

				
				> a {
					display: inline-block;
					color: #656565;
					line-height: 1.3;
					@include sackers;
					padding: 1em 0;
					@include font-size(0.8);
					@include transition(none);

					&:hover {
						color: #bb0000;
					}

					@include device-width(7) {
						display: block;
						padding: 1em 2em;
					}
				}
				ul {
					display: none;
				}
			}
		}
	}

	.primary-navigation {
		.menu {
			padding: 0;
			margin: 0;
			list-style: none;
			@include device-width(7) {

			}

			> li {
				float: left;
				position: relative;
				margin-right: 6em;

				@include device-width(8) {
					margin-right: 0;
					border-left: 1px solid #cecece;
				}
				&.center {
					margin-right: 0;
					border-left: 1px solid #cecece;

					> a {
						@include didot;
						@include font-size(16);
						padding: 0 1em;

						@include device-width(8) {
							@include sackers;
							@include font-size(0.8);
						}
					}
				}

				> a {
					color: #656565;
					display: inline-block;
					line-height: 50px;
					@include sackers;
					@include font-size(0.8);
					@include transition(none);

					&:hover {
						color: #bb0000;
					}


					@include device-width(8) {
						padding: 0 1em;
					}
				}

				&:hover {
			 		> .sub-menu {
			 			// display: block;
			 			visibility: visible;
			 			@include opacity(1);
			 			@include device-width(6) {
			 				visibility: hidden;
			 				@include opacity(0)	
			 			}
			 		}
			 	}
				
			 	ul {
	 				padding: 0;
	 				margin: 0;
	 				list-style: none;
	 			}

				> .sub-menu {
			 		position: absolute;
			 		top: 100%;
			 		border-left: 1px solid #e1e1e1;
			 		border-right: 1px solid #e1e1e1;
			 		border-top: 1px solid #e1e1e1;
			 		min-width: 100%;
			 		margin-left: -1px;
			 		visibility: hidden;
			 		@include opacity(0);
			 		@include transition(all 0.3s ease);
					z-index: 2000;

			 		li {
			 			margin: 0;
			 			padding: 0;
			 			background: #FFF;
			 			
			 			a {
			 				@include sackers;
			 				@include font-size(0.8);
			 				padding: 0 1.5em;
			 				line-height: 50px;
			 				display: block;
			 				text-align: center;
							text-transform: uppercase;
							border-bottom: 1px solid #e1e1e1;

			 				&:hover {
			 					color: #aa262f;
			 				}
			 			}

			 			
			 		}
			 	}
			}
		}
	}

	// .main-navigation { 
	// 	margin: 0;

 // 		@include device-width(6) {
 // 			display: none;
 // 			border-right: none;
 // 		}
	// 	> ul {
	// 		margin: 0;
	// 		padding: 0;
	// 		text-align: justify;
	// 	    font-size: 0.1px;

	// 	    @include device-width(6) {
	// 			text-align: left;
	// 		}
	// 		&:after {
	// 		    content: '';
	// 		    display: inline-block;
	// 		    width: 100%;
	// 		}
	// 		> li {
	// 		 	display: inline-block;
	// 			position: relative;
	// 			@include transition(all 0.3s ease);
	// 			zoom: 0;

	// 			@include device-width(6) {
	// 				display: block;
	// 			}
				
	// 			a {
	// 				@include font-size(10);
	// 		 		@include avenir;
	// 		 		color: #262626;
	// 			 	letter-spacing: 2px;
	// 				text-transform: uppercase;
	// 			}

	// 		 	> a {
	// 		 		display: inline-block;
	// 				padding: 12px 0;
	// 		 		border-bottom: 1px solid #FFF;
	// 		 		border-bottom: 1px solid rgba(#FFF, 0);
	// 			 	position: relative;
				 	
	// 			 	// @include device-width(7) {
	// 			 	// 	@include font-size(11);
	// 			 	// }

	// 			 	@include device-width(6) {
	// 			 		display: block;
	// 			 		padding-left: 1em;
	// 			 		padding-right: 1em;
	// 			 	}
	// 		 	}

	// 		 	> a:hover,
	// 		 	&.current_page_parent > a,
	// 		 	&.current-menu-item > a,
	// 		 	&.current-category-ancestor > a,
	// 		 	&.current-page-ancestor > a,
	// 		 	&.current-post-ancestor > a,
	// 		 	&.current-menu-parent > a,
	// 		 	&.current-post-parent > a,
	// 		 	&.current > a {
	// 		 		color: #000;
	// 		 		border-bottom: 1px solid #000;
	// 		 	}

	// 		 	&:hover {
	// 		 		> .sub-menu {
	// 		 			// display: block;
	// 		 			visibility: visible;
	// 		 			@include opacity(1);
	// 		 			@include device-width(6) {
	// 		 				visibility: hidden;
	// 		 				@include opacity(0)	
	// 		 			}
	// 		 		}
	// 		 	}

	// 		 	&.has-sub-menu {
	// 		 		> a{
	// 		 			&:hover {
	// 			 			border-bottom: 1px solid #FFF;
	// 				 		border-bottom: 1px solid rgba(#FFF, 0);

	// 				 		@include device-width(6) {
	// 				 			border-bottom: 1px solid #000;
	// 				 		}
	// 		 			}

	// 		 			&:after {
	// 		 				@extend [class^="icon-"];
	// 		 				@extend .icon-chevron-down:before;
	// 		 				color: #dcdcdc;
	// 		 				font-size: 80%;
	// 		 				position: absolute;
	// 		 				top: 50%;
	// 		 				right: -2em;
	// 		 				margin-top: -4px;
	// 		 			}
	// 		 		}
	// 		 	}

			 	
	
	// 		}
	// 	} 
	// }

	.search-form {
		position: absolute;
		top: 50%;
		right: 0;
		margin-top: -13px;

		@include device-width(5) {
			display: none;
		}
	}
}
		
			
#main {
	position: relative;
	z-index: 100;
	padding: 0 0 2em 0;
}
		
#sidebar {
	margin: 1em 0;
}
	
#footer {
	background: #000;
	color: #424242;
	
	@media print {
		display: none;
	}
	
	a {
		color: #b3b3b3;

		&:hover {
			color: #FFF;
		}
	}

	> .inner {
		padding: 2em 0;

		@include device-width(6) {
			padding: 10px 0;
		}
	}

	// > .top {
	// 	> .inner {
	// 		padding: 3em 0;
	// 	}
	// }

	// > .bottom {
	// 	> .inner {
	// 		padding: 1em 0 3em 0;
	// 	}
	// }


	$logo_ratio: (92 / 125);
		
	.logo-container {
		margin: 0;
		z-index: 0;
		display: inline-block;
		font-size: 1em;
		line-height: 1;
		position: relative;

		@include device-width(8) {
			padding-left: 2em;
		}
		@include device-width(5) {
			padding-left: 10px;
		}
	}

	.logo {
		z-index: 100;
		background: url(../images/logos/leivankash_footer.jpg) no-repeat;
		background-size: contain;
		width: 125px;
		height: 0;
		text-indent: -9999px;
		display: block;
		padding-top: $logo_ratio * 100%;


		@include device-width(8) {
			width: 110px;
		}

		@include device-width(5) {
			width: 90px;
		}
	}

	.primary-footer-navigation {
		@include device-width(8) {
			float: right;
			width: auto;
			margin: 0;
			padding-right: 10px;
		}
		ul {
			margin: 0 0 0 -10em;
			padding: 0;
			list-style: none;
			@include device-width(11) {
				margin-left: 0;
			}

			
			li {
				float: right;
				margin: 0 0 0 7em;

				@include device-width(11) {
					margin-left: 5em;
				}

				@include device-width(9) {
					margin-left: 3em;
				}

				@include device-width(8) {
					float: none;
					margin-left: 0;
					text-align: right;
				}
				a {
					text-transform: uppercase;
					letter-spacing: 2px;
					@include font-size(10);
					padding-bottom: 0.2em;
					@include transition(all 0.3s ease);

					&:hover {
						border-bottom: 1px solid #FFF;
						text-decoration: none;
					}
				}
			}
		}
	}

	.copyright {
		@include device-width(8) {
			padding: 0 10px;
		}
	}
}


#ajax-page {
	position: relative;
	.loader {
		display: block;
		padding: 10px 0;
		width: 32px;
		height: 32px;
		background: url(../images/icons/loader.gif) no-repeat center center;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-top: -16px - 10px;
		margin-left: -16px;
	}
}
#breadcrumbs {

	@media print {
		display: none;
	}
	@include sackers;
	letter-spacing: 1px;
	text-transform: uppercase;
	position: relative;
	z-index: 100;
	color: #888888;
	margin: 0 0 0 0;
	> .inner {
		padding: 1.2em 0;

		@include device-width(8) {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	
	span {
		@include font-size(8);
	}
	a {
	
	}
}

#social {
	border-top: 1px solid #e3e3e3;

	> .inner {
		border-left: 1px solid #e3e3e3;
		border-right: 1px solid #e3e3e3;

		&:before {
			content: '';
			background: url(../images/misc/stripes.png);
			position: absolute;
			display: block;
			width: 100%;
			height: 1em;
		}
	}

	.customer-service-navigation-container {
		padding: 2em 1.5em;
		border-right: 1px solid #e3e3e3;	
	}

	.newsletter-container {
		padding: 2em 1.5em;
		border-bottom: 1px solid #e3e3e3;	
	}

	.social-links-container {
		padding: 1.4em 1.5em;
		border-right: 1px solid #e3e3e3;
	}

	.cards-container {
		padding: 0.5em 1.5em;
	}

	.customer-service-navigation {
		.menu {
			padding: 0;
			margin: 0;
			list-style: none;

			li {
				a {
					@include sackers;
					@include font-size(8);
				}
			}
		}
	}
}
/* =============================================================================
   Pages
   ========================================================================== */


#front-page {

	// #homepage-scroller {
	// 	$ratio: 1 / 2;
	// 	//min-height: $ratio * 1156px;
	// 	z-index: 100;
	// 	margin-bottom: 1em;
	// 	position: relative;
	// 	&:before {
	// 		content: '';
	// 		display: block;
	// 		padding-top: $ratio * 100%;
	// 	}

	// 	> .inner {
	// 		position: absolute;
	// 		top: 0;
	// 		left: 0;
	// 		bottom: 0;
	// 		right: 0;
	// 	}

	// 	.scroller-mask {
	// 		height: 100%;
	// 	}
	
	// 	.scroll-item {
	// 		height: 100%;
	// 		background-position: center center;
	// 		background-size: cover;
	// 		background-repeat: no-repeat;

	// 		> .inner {
	// 			height: 100%;
	// 		}
	// 		.content {
	// 			position: absolute;
	// 			top: 50%;
	// 			left: 0;
	// 			margin-top: -4em;

	// 			@include device-width(6) {
	// 				top: 0;
	// 				position: relative;
	// 				margin-top: 2em;
	// 			}

	// 			&.center {
	// 				width: 100%;
	// 				text-align: center;

	// 				* {
	// 					margin-left: auto;
	// 					margin-right: auto;
	// 				}
	// 			}

	// 			&.right {
	// 				width: 100%;
	// 				text-align: right;

	// 				hr {
	// 					float: right;
	// 					& + * {
	// 						clear: both;
	// 					}
	// 				}
	// 			}
	// 			.csstransform & {
	// 				margin-top: 0;
	// 				@include translateY(-50%);
	// 			}
	// 		}
	// 	}

	// 	.scroller-navigation {
	// 		@include device-width(6) {
	// 			left: 0;
	// 			right: auto;
	// 		}
	// 	}
	// }

	#widgets {
		> .container {
			> .inner {
				margin-left: -10px;
				margin-right: -10px;

				@include device-width(8) {
					margin-left: 0;
					margin-right: 0;
				}
			}
		}
		.widget {
			margin-bottom: 0;
			@include device-width(8) {
				width: 50%;
			}

			@include device-width(4) {
				width: 100%;
			}

			&.widget_featured_products {
				@include device-width(8) {
					display: none;
				}
			}
		}
	}

	#content {
		z-index: 200;
	}
}


#index {
	
}

#single {
	
}

#category {

}


#search {

}

#error {}

